<div class="navbar-fixed">
  <nav class="teal lighten-2" role="navigation">
    <div class="nav-wrapper container">
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <li><a class="page-scroll" href="#page-top">Home</a></li>
        <li><a class="page-scroll" href="#about">About</a></li>
        <li><a class="page-scroll" href="#news">News</a></li>
        <li><a class="page-scroll" href="#publication">Publication</a></li>
        <li><a class="page-scroll" href="#education">Education</a></li>
      </ul>
    </div>
  </nav>
</div>

<ul id="nav-mobile" class="sidenav">
  <li><a class="page-scroll" href="#page-top">Home</a></li>
  <li><a class="page-scroll" href="#about">About</a></li>
  <li><a class="page-scroll" href="#news">News</a></li>
  <li><a class="page-scroll" href="#publication">Publication</a></li>
  <li><a class="page-scroll" href="#education">Education</a></li>
</ul> 