<div class="pubwrap">
  <div class="row">
    <div class="col l4 m6 s12">
      <div class="pubimg">
        <img src="${imageUrl}">
      </div>
    </div>
    <div class="col l8 m6 s12">
      <div class="pub">
        <div class="pubt">${title}</div>
        <div class="pubd">${description}</div>
        <div class="puba">${authors}</div>
        <div class="pubv">${venue}</div>
        <div class="publ">
          <ul>
            ${links}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> 